body{
  background-color: #ddd6f0;
  
}

.App{
  background-color: #d6e9f0;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color:#f8f8ff;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
}

#to-do-form input::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

#to-do-form input:focus,#to-do-form button:focus {
  outline: none;
}

#to-do-form button{
  height:50px;
  width:80px;
  border-radius:5px;
  border: 0;
  background-color: #90ee90;
  cursor: pointer;
  font-weight: bolder;
}

#to-do-form button:active{
  background-color: #64e764;
}

